<%- include("partials/header") -%>

<h1>Contact and Helpline</h1>
<div class="">

</div>


<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <th scope="col">Location</th>
    <th scope="col">Phone Number</th>
  </tr>
  </thead>

  <%    regionalList.forEach(function(item){ %>
      <tr>
        <td>
      <%= item.loc %>
        </td>
        <td>
        <%= item.number %>
        </td>
        </tr>
    <% }); %>

</table>
